.about {
  padding: 6rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  &__heading {
    @include heading;
  }

  &__waves {
    max-width: 120rem;
    width: 100%;
    margin-bottom: -0.4rem;
    margin-top: 1rem;
    border-bottom: 0.3rem solid $color-main;
    border-top: 1rem solid $color-white;
  }
}
