.about {
  padding: 6rem 0 0;
  @include section-flex-column;
  overflow: hidden;

  &__heading {
    @include heading;
    color: $color-main;
    font-size: 5rem;
    margin: 4rem auto;
  }

  &__waves {
    @include waves-bottom;
    margin: 1rem -0.2rem -0.3rem;
  }
}
