.camps {
  max-width: 120rem;
  width: 100%;
  margin: 4.661rem auto 0;
  padding: 1rem 2rem;
  box-shadow: 0.4rem -1rem 2rem 0.2rem $color-dark-grey;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond(tab-land) {
    width: 161%;
  }
  @include respond(phone) {
    width: 161%;
  }

  &__waves {
    max-width: 120rem;
    width: 106%;
    margin-bottom: -1.4rem;
    margin-top: 1rem;
    border-bottom: 0.3rem solid $color-main;
    border-top: 1rem solid $color-white;

    @include respond(tab-land) {
      width: 104%;
      margin-bottom: -1.3rem;
    }
    @include respond(phone) {
      width: 105.2%;
      margin-bottom: -1.3rem;
    }
    @media only screen and (max-width: 23.44em) {
      width: 106.5%;
      margin-bottom: -1.3rem;
    }
  }

  &__waves-top {
    max-width: 120rem;
    width: 106%;
    margin-bottom: 5rem;
    margin-top: -0.8rem;
    border-bottom: 0.3rem solid $color-white;
    border-top: 1rem solid $color-main;

    @include respond(tab-land) {
      width: 103.7%;
      margin-bottom: -1.2rem;
      margin-top: 1.4rem;
    }
    @include respond(phone) {
      width: 105.2%;
      margin-top: 1.4rem;
    }
    @media only screen and (max-width: 23.44em) {
      width: 106.5%;
      margin-bottom: -1.3rem;
    }
  }

  &__heading {
    @include heading;
  }

  &__list {
    list-style-type: disc;
    margin: 2rem auto;
  }

  &__item {
    font-size: 1.6rem;
    line-height: 3rem;
  }
  &__item::marker {
    color: $color-main;
  }
}
