.carousel {
  position: relative;
  margin: 4.661rem auto 0;

  @include respond(phone) {
    margin: 6.4rem 0 0;
  }

  &__indicators {
    margin: 4rem 0 -0.8rem;
    max-width: 120rem;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
  }

  &__item {
    position: relative;
  }

  &__caption {
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: left;
    text-shadow: 0.1rem 0.1rem 0.2rem black;
    letter-spacing: 0.12rem;
    padding-bottom: 6rem;
    position: absolute;
    width: 30%;
    bottom: 10%;
    left: 60%;

    @media only screen and (max-width: 48em) {
      width: 42%;
      bottom: 15%;
      left: 35%;
    }
  }

  &__heading {
    font-family: "Amatic SC", cursive;
    font-weight: 700;
    font-size: 5rem;
    text-transform: uppercase;
    text-shadow: 0.1rem 0.1rem 0.2rem black;

    @include respond(phone) {
      font-size: 3rem;
      margin: 6rem auto 0;
    }
  }

  &__button {
    color: $color-derker-grey;
    font-family: "Raleway";
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 1rem 4rem;
    border-radius: 2rem;
  }

  &__waves-white {
    max-width: 120rem;
    width: 100%;
    display: block;
    margin: 2rem auto 0.5rem;
    z-index: 1000;
  }
}
