.composition {
  width: 90%;
  margin: 5rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  &__element {
    position: relative;
    width: 45%;
  }

  &__caption {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-align: center;
    font-size: 1.6rem;

    @include respond(phone) {
      font-size: 0.7rem;
      bottom: 24%;
    }
    &--cheerleaders2 {
      bottom: 36%;

      @include respond(phone) {
        font-size: 0.7rem;
        bottom: 42%;
      }
    }
  }

  &__photo {
    width: 90%;
    margin: 3rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 0.2rem;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem;

    @include respond(phone) {
      outline-offset: 0.5rem;
    }

    &:hover {
      outline: 1.5rem solid $color-main;
      transform: scale(1.08) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;

      @include respond(phone) {
        outline: 1rem solid $color-main;
      }
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
