.footer {
  margin: -0.1rem auto 0;
  padding: 0;
  background: $color-main;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  overflow: hidden;

  &__logo {
    width: 28rem;
    margin: 0 auto;
    padding: 4rem;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 1rem 6rem;
    border-top: 0.1rem solid $color-white;
    border-bottom: 0.1rem solid $color-white;
    list-style-type: none;
  }
  &__item {
    padding: 1rem 1rem;
    text-transform: uppercase;
  }

  &__item-link {
    display: inline-block;
    color: $color-white;
    text-decoration: none;
  }
  &__item-link:hover {
    color: $color-derker-grey;
  }

  &__copyright {
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    color: $color-white;
    margin: 0 auto;
    padding: 4rem 6rem;
  }

  &__icons-info {
    display: block;
    margin: 1.2rem auto;
    color: $color-white;
    font-size: 1rem;
  }
  &__icons-link {
    color: $color-white;
  }
}
