.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 120rem;
  margin: 0 auto;
  background: $color-white;
  box-shadow: 0 0.2rem 0.9rem $color-dark-grey;
  z-index: 9999;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: stretch;
  font-size: 1.2rem;
  font-weight: 700;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 0;
    list-style-type: none;
  }
  &__item {
    padding: 1rem 1rem;
    text-transform: uppercase;
  }

  &__item-link {
    display: inline-block;
    color: $color-derker-grey;
    text-decoration: none;
  }
  &__item-link:hover {
    color: $color-main;
  }

  &__hamburger {
    background-color: transparent;
    border: 0;
    color: $color-derker-grey;
    font-size: 2rem;
    cursor: pointer;
    display: none;
    margin: 2rem;
  }
  &__hamburger:focus {
    outline: none;
  }

  &__logo {
    width: 10rem;
    margin: 0.8rem;
  }

  @media only screen and (max-width: 64em) {
    &__list {
      display: none;
      flex-direction: column;
      justify-content: center;
      flex-wrap: nowrap;
      width: 100%;
    }
    &__list.show {
      display: flex;
    }
    &__item {
      text-align: center;
      font-size: 1.4rem;
      width: 50%;
      padding: 2.5rem;
      border-bottom: 0.1rem solid $color-dark-grey;
    }
    &__item:last-of-type {
      border-bottom: 0;
    }
    &__hamburger {
      display: block;
    }
    .hide {
      display: none;
    }
    .bars {
      width: 4rem;
      background: transparent;
    }
    .close {
      width: 3rem;
      background: transparent;
    }
  }
}

@include respond(big-desktop) {
  .navigation {
    max-width: 120rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
